*{
    margin: 0px;
    padding: 0px;
}
.clearfix{
    float: none;
    clear: both;
}

#container{
    width: 70%;
    background: red;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

header{
    width: 100%;
    height: 150px;
    background: lightblue;
    color: #333;
    line-height: 150px;
    text-align: center;
}

aside{
    width: 25%;
    min-height: 700px;
    float: left;
    background: #ccc;
    text-align: center;
    line-height: 700px;
}

#articles{
    width: 75%;
    min-height: 700px;
    float: left;
    background-color: lemonchiffon;

}

#articles article{
    width: 25%;
    height: 150px;
    background: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
}

/* RESPONSIVE */

/* Desde la anchura 0 px hasta la anchura de 888px de pantalla
se ejecutarán estos estilos */
/* y a partir de los 888px se ejecutarán los estilos de arriba */
@media (max-width:888px){
    #articles article{
        width: 40%;
        background: red;

    }
}

@media (max-width:632px) and (max-height:600px){
    #container{
        overflow: hidden;
    }
    
    
    aside{
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 91%;
        padding: 19px;
    }
    
    #articles{
        width:100% ;
    }
    h2{
        font-size: 12px;
    }
    
    #articles article{
        width: 90%;
        background: blue;
    }
}

@media (max-width:500px){
    body{
        background: salmon
    };
}
    
 

