*{
    margin: 0px;
    padding: 0px;
}
.clearfix{
    float: none;
    clear: both;
}

#container{
    width: 70%;
    background: red;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

header{
    width: 100%;
    height: 150px;
    background: lightblue;
    color: #333;
    line-height: 150px;
    text-align: center;
}

aside{
    width: 25%;
    min-height: 700px;
    float: left;
    background: #ccc;
    text-align: center;
    line-height: 700px;
}

#articles{
    width: 75%;
    min-height: 700px;
    float: left;
    background-color: lemonchiffon;

}

#articles article{
    width: 25%;
    height: 150px;
    background: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
}
    
 

