*{
	font-family:'Courier New', Courier, monospace;
	font-weight: bold;
	
}
body{
	background: #a3c09c;
	background: linear-gradient(#b49cec,#7fa5ec,rgb(232, 241, 232));
}
.layout{
	display: grid;
	grid-template-rows: 60px 60px auto 60px;
	grid-template-columns: 1fr;
	grid-template-areas: 'header' 'sidebar' 'main' 'footer';
	height: 100vh;
}

@media (min-width: 280px){
	.layout{
		display: grid;
		grid-template-rows: auto auto auto auto;
		grid-template-columns: 160px auto;
		grid-template-areas: 
		'header header header'
		'sidebar main main'
		'footer footer footer';


	}

	header{
		grid-area: header;
		/* background: #ccff66; */
		box-shadow: 2px 1px 15px 1px rgb(20, 10, 150, 1.0);	
	}

	h1{
		font-size: 3rem;
		color: rgb(5,50,150);
		
	}

	img{
		width: 120px;
		height: 90px;
		border-radius: 150px;

	}


	aside{
		grid-area: sidebar;
		/* background: #f6c356; */
		box-shadow: 2px 1px 15px 1px rgb(20, 10, 150, 1.0);	
		margin-left: 2px;
		
	}

	h2{
		text-decoration: underline;
		font-size: 2rem;
	}
	ul,li,a{
		text-decoration: none;
		text-transform: uppercase;
		margin:2px;
		font-size: 21px;
	}

	main{
		grid-area: main;
		/* background: #b2ee94; */
		box-shadow: 2px 1px 15px 1px rgb(20, 10, 150, 1.0);	
	}

	button{
		color: blueviolet;
		font-weight: bold;
		margin: 15px;
		font-size: 20px;
	}

	
	h3{
		text-align: center;
	}

	form,label{
		padding: 28px;
		font-size: 100%;
		width: 50%;
		margin: 10px;
	}
	input{
		width: 50%;
		margin: 10px;
		padding: 5px;
		font-size: 18px;
	}
	#boton{
		color: rgb(32, 4, 58);
		font-weight: bold;
		margin: 15px;
		font-size: 20px;
		
	}
	

	footer{
		grid-area: footer;
		/* background: #aaccff; */
		box-shadow: 2px 1px 15px 1px rgb(20, 10, 150, 1.0);	
	}

	h4{
		text-align: center;
	}
	p,span{
		color: blueviolet;
		text-align: center;
	}
}