/* Reset General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.layout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    grid-area: footer;
    background-color: #333;
    color: #f9f9f9;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
}

input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #5a67d8;
    outline: none;
}

input[type="button"] {
    background-color: #5a67d8;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #434190;
}

p {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0;
}

footer p {
    margin: 5px 0;
	color: #f9f9f9;
}